# Intended for colouring 'mount' output
# written by Emanuele Aina

regexp=^(.*) on (.*) type (.*) \((.*)\)
colours=default,green,yellow,blue,magenta
=====
regexp=^cgroup.*
colours=bright_black
=====
regexp=^tmpfs.*
colours=bright_black
